body{
    background-image: url(image/paginaweb.jpg);  
}

h3{
    color: black;
    background-color: darkgoldenrod;  
    width: 300px; 
} 

p{
    color: black;
    background-color: darkgoldenrod;
    width: 400px;
} 