body{
    background-image: url(image/paginaweb.jpg);  
}

h1{
    color: black;
} 

h2{
    color: black;
    background-color: darkolivegreen;
    width: 400px; 
    margin: 0;
}

h3{
    color: black;
    background-color: darkgoldenrod;  
    width: 400px; 
    margin: 0;
    
} 

p{
    color: black;
    background-color: darkgoldenrod;
    width: 400px;
    margin: 0;
    margin-bottom: 20px; 
} 