body{
    background-image: url(image/paginaweb.jpg);  
}

h1{
    color: black;
    background-color: cornflowerblue; 
    border: 3px solid black; 
} 

h2{
    color: black;
    background-color: darkolivegreen;
    width: 400px; 
    margin: 0;
    border: 3px solid black; 
}

h3{
    color: black;
    background-color: lightskyblue;  
    width: 400px; 
    margin: 0;
    border: 3px solid black;
    
} 

p{
    color: black;
    background-color: darkgoldenrod;
    width: 400px;
    margin: 0;
    margin-bottom: 20px; 
    border: 3px solid black; 
} 

img{
    border: 3px solid black; 
}

#menu_toogle{
    opacity: 0;
}

#menu_toogle:checked + .menu_btn > span {
    transform: rotate(45deg); 
}

#menu_toogle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg); 
} 

#menu_toogle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg); 
} 

#menu_toogle:checked ~ .menu_box {
    left: 0 !important;
} 

.menu_btn {
   position: fixed; 
   top: 20px; 
   left: 20px; 
   width: 26px; 
   height: 25px; 
   cursor: pointer; 
   z-index: 1;
} 

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color: darkblue;  
    transition-duration: .25s; 
} 

.menu_btn > span::before {
    content: "";
    top: -8px; 
} 

.menu_btn > span::after {
    content: "";
    top: 8px; 
}
.menu_box {
    display: block;
    position: fixed; 
    top: 0; 
    left: -100%; 
    width: 100px;  
    height: 100%; 
    margin: 0; 
    padding: 80px 0; 
    list-style: none; 
    background-color: lightskyblue; 
    box-shadow: 2px 2px 6px black; 
    transition-duration: .25s;  
} 

.menu_item {
    display: block; 
    padding: 12px 24px; 
    color: black;  
    font-family: "Roboto", sans-serif; 
    font-size: 20px; 
    font-weight: 600; 
    text-decoration: none; 
    transition-duration: .25s; 
} 

.menu_item:hover {
    background-color: lightcyan; 
} 

